
.container{
	
	display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-template-rows: auto; 
		grid-template-areas: 
	"header header header header" 
	"nav nav nav nav" 
	"main main main main" 
	"footer footer footer footer ";
	
}

  header { 
	  grid-area:header; 
	  } 
	  
	  nav { 
	  grid-area: nav;  
	  } 
	  
	  main { 
	  grid-area: main; 
	  } 
	  
	  footer {
		  grid-area:footer; 
		  
	  }
	  
	  p{
		  font-size:20px;
		  margin: 20px;
	  }
	  
	  
h1 {
text-align: center;
color: Red; 
font-size: 50px;

}	
	  
	  .img {
  
  float: right;
 
	  }
	  
	  .nav {


  overflow: hidden;
  background-color: red;
 
}

	  .nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 25px;
  font-size: 20px;
  
  
}


.footer {
	color:orange; 
	font-size: 30px; 
	text-align: center;
	margin: 35px;
}

.pStartsida{
	margin: 35px;
	font-size: 60px; 
	
}

.pBild {
	
	text-align: justify;
    width: 600px; 
float: right;	
}
