
.container{
	
	display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-template-rows: auto; 
		grid-template-areas: 
	"header header header header" 
	"nav nav nav nav" 
	"main main main main" 
	"footer footer footer footer ";
	
}

  header { 
	  grid-area:header; 
	  } 
	  
	  nav { 
	  grid-area: nav;  
	  } 
	  
	  main { 
	  grid-area: main; 
	  } 
	  
	  footer {
		  grid-area:footer; 
		  
	  }
	  
	  p{
		  font-size:20px;
		  margin: 20px;
	  }
	  
	  
h1 {
text-align: center;
color: Red; 
font-size: 50px;

}	


.h2Mitt {
	color: Red; 
	text-align: center;
	
}

h2 {
	margin: 30px; 
	color: Red; 
	
}
	  
	  .imgHöger {
  
  float: right;
 
	  }
	  
	  .nav {


  overflow: hidden;
  background-color: red;
 
}

	  .nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 25px;
  font-size: 20px;
  
  
}


.footer {
	color:orange; 
	font-size: 30px; 
	text-align: center;
	margin: 35px;
}

.pStartsida{
	margin: 35px;
	font-size: 60px; 
	
}

.pBildHöger {
	
	text-align: justify;
    width: 600px; 
    float: right;	
}

.pHöger {
text-align: center; 	
	
	
}

li, ul {
font-size: 20px; 	
margin: 15px
	
	
}



ol {
	
margin: 20px;	
	
	
}

form{ 

text-align:center;
margin: 15px;



}

button {
	margin:20px;
}


.centerText {
	
text-align: center; 	
	
	
}

.centerBild {
	text-align: center; 
	
}

 table,  th, td, tr{
	border: 1px solid black;
	font-size:30px; 
 border-collapse: collapse; } 
 
 .rubrik {
	 font-size: 30px;
	 margin: 30px;
	 color: #FF0000;
	 
 }
 
.center {
  margin-left: auto;
  margin-right: auto;
}
 