
.container{
	
	display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-template-rows: auto; 
		grid-template-areas: 
	"header header header header" 
	"nav nav nav nav" 
	"main main main main" 
	"footer footer footer footer ";
	
}

  header { 
	  grid-area:header; 
	  } 
	  
	  nav { 
	  grid-area: nav;  
	  } 
	  
	  main { 
	  grid-area: main; 
	  } 
	  
	  footer {
		  grid-area:footer; 
		  
	  }
	  
	  
.h1 {
text-align: center;
color: Red; 
font-size: 50px;

}	
	  
	  .img {
  display: inline;
  padding: 0px;
  margin: 0px;
  float: right;
  border: 0px;
	  }
	  
	  .topnav {


  overflow: hidden;
  background-color: red;
 
}

	  .topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 25px;
  
}


.footer {
	color:orange; 
	font-size: 30px; 
	text-align: center;
	margin: 35px;
}

p{
	margin: 35px;
	font-size: 70px; 
	
}

